	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				
				<h1 class="content">Who am I?</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12">

				<h4>Web development, and programming in general, has been something I've been curious about for years. But in 2016 I decided to do something about it and took the Rutgers Coding Bootcamp. It was a great experience, and I learned a lot very quickly from my instructors and fellow students. It's where I made a few of the projects you see here! Since then I've worked at Arkadium NYC, learning some C# and the Agile approach. </h4>
				<h4>Going back as long as I can remember I've always been interested in games. I've taken the time and effort to become proficient in my fair share. But in the last 5 years that effort has been redirected into learning and practicing game design. It started with some independent research, and now I'm working at prototyping and playtesting tabletop games, with the intention of moving to digital games at some point. It's been a lot of fun, and is my primary hobby. Accidentally learned some graphic design in the process too!</h4>
				<h4>I am a current resident of New Jersey, although previously I lived in Pennsylvania. While in PA I dealt poker at the Sands Bethlehem Casino, but after a few years realized that it wasn't for me. Sure, I was good at it, but I felt like I could be contributing more than just pushing money around tables. To my friends I explain it as the "Bartender Problem"... all your best customers are alcoholics...</h4>

			</div>
			<div class="col-md-6 col-sm-12 ">

				<img src="../assets/zintisPorchPhoto.JPG">

			
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row">				
			<h6 class="content">...and if you haven't guessed, my favorite color is blue...</h6>
		</div>
	</div>


