<div class="socialMediaContainer">
	<a href="mailto:zintismay@gmail.com" target="_blank" data-hover="Email">
		<img class="socialMedia" src="../assets/gmailIcon.png">
	</a>
	
	<br>
	<a href="https://twitter.com/ZintisMay" target="_blank" data-hover="Twitter">
		<img class="socialMedia" src="../assets/twitterIcon.png">
	</a>
	<br>
	<a href="https://www.linkedin.com/in/zintismay/" target="_blank" data-hover="LinkedIn">
		<img class="socialMedia" src="../assets/linkedInIcon.png">
	</a>	
	<br>
	<a href="https://github.com/ZintisMay" target="_blank" data-hover="Github">
		<img class="socialMedia" src="../assets/githubIcon.png">
	</a>
</div>
<div class="angularMediaContainer">

	<a href="https://firebase.google.com/" target="_blank" data-hover="Firebase">
		<img src="../assets/firebaseIcon.png" alt="firebase">	
	</a>

	<a href="https://angular.io/" target="_blank" data-hover="Angular2">
		<img src="../assets/angularIcon.png" alt="angular2" >
	</a>

	<p>Powered by:</p>
</div>