.socialMedia{
	height:50px;
	filter: grayscale(0%);

}
.socialMediaContainer{
	position:relative;
	bottom:0px;
	left:0px;
}
.angularMediaContainer{
	position: fixed;
	bottom:5px;
	right:5px;

}
.angularMediaContainer>img{
	height:50px;
	float:right;
}
.angularMediaContainer>p{
	float:right;
	color:white;
	margin-top: 25px;
}
a{
	position: relative;
}
a:hover::after{
	animation-name: slightDelay;
	animation-duration: .5s;
	content:attr(data-hover);
	background-color:#4da9ff;
	border:black 1px solid;
	position:absolute;
	left:100%;
	top:0px;
	width:100%;
	height:;
	color:#002966;
	text-align: center;
	z-index: 200;
}

@keyframes slightDelay{
	0%{
		left:-100%;
	}
	100%{
		left:100%;
	}
}