.white{
	color:white;
}
carousel{
	display:flex;
	position:absolute;
	width:50%;
	top:150px;
	z-index: -50;
	min-width:600px;
	height:425px;
	color:whitesmoke;
}
/deep/.carousel.slide{
	width:100% !important;
}
/deep/.carousel-indicators{
	bottom:1%;
	right: 1%;

}
/deep/carousel{
	color:white;
}
img{	

}

@media(max-width:600px){
	carousel{
		width:100%;
		min-width:0px;
	}
	img{
		width:100%;
	}
}
.flexCon{
	width:100%;
	height:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.imageText{
	position:absolute;
	bottom:5px;
	left:5px;
	margin:10px;
}