/*div{
	position:fixed;
	height:100%;
	width:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	z-index: 6;
	background-color: #002966;
	animation-name:fadeOut;
	animation-duration:2s;
	animation-timing-function: ease-in;
	top:-100%;
}*/
img{
	/*top:10%;*/
	position:fixed;
	height:100%;
	width:100%;
	z-index: 8;
}
.moveLeft,.moveRight{
	opacity:1;

}
.moveLeft{
	animation-name:moveLeft;
	animation-duration:3s;
	animation-timing-function: ease-in-out;
	left:-100%;
}
.moveRight{
	animation-name:moveRight;
	animation-duration:3s;
	animation-timing-function: ease-in-out;
	right:-100%;
}

@keyframes moveLeft{
	from{
		left:0px;
	}
	to{
		left:-100%;
	}
}

@keyframes moveRight{
	from{
		right:0px;
	}
	to{
		right:-100%;
	}
}
.blueCover{
	color:white;
	background-color: #002966;


	position:fixed;
	opacity:0;
	animation-name: fadeOut;
	animation-duration:3s;
	animation-timing-function: ease-in;
	height:0px;
	width:0px;
}
@keyframes fadeOut{
	from{
		height:100%;
		width:100%;
		opacity: 1;
	}

	to{
		height:100%;
		width:100%;
		opacity: 0;

	}
}