app-nav-header-bar{
	position: fixed;
	top:0px;
	width:100%;
	left:0px;
	height:75px;
	animation-name:fromTop;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}
app-social-media{
	position:fixed;
	bottom:0px;
	left:0px;
	animation-name:fromLeft;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}
.appContainmentDiv{
	width:100%;
	margin:0px;
	position:relative;
	top:-23px;
	left:0px;
	height:100%;
}
intro-z{
	z-index:120;
}

@keyframes fromTop{
	0%{
		top:-75px;
	}
	66%{
		top:-75px;
	}
	100%{
		top:0px
	}
}

@keyframes fromLeft{
	0%{
		left:-70px;
	}
	66%{
		left:-70px;
	}
	100%{
		left:0px;
	}
}
router-outlet{
}